@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

header {
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

body {
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

[href] {
  text-decoration: none;
  color: black;
}

[href]:hover {
  color:purple;
  font-weight: bolder;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vw;
}

.engineers, .machines {
  background: peru;
  margin: .5em;
  min-width: 15vw;
  min-height: 15vw;
}

div > * {
  margin: .3em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: .3em;
}

.items {
  background: grey;
  color: black;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 2em;
}

