@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<div>
  <span>machine name: @Model.Name </span>
</div>

<div>
  @if (Model.JoinEntities == null)
  {
    <p>no engineers connected to this machine.</p>
  }
</div>

<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)
    <span>choose an engineer for maintanence</span>
    @Html.DropDownList("Engineers")
    <input type="submit" value="assign" />
  }
</div>

<div>
  @Html.ActionLink("go home","Index","Home")
</div>



