@{
  Layout = "_Layout";
}

@using Factory.Models

<div>
  <span>@Model.Name</span>
</div>

<div>
  @if (Model.JoinEntities.Count == 0)
  {
    <p>no engineers in the system</p>
    <p>add one!</p>
  }
</div>

<div>
  @using (Html.BeginForm())
  {
    <span>choose an engineer for maintanence</span>
    @Html.DropDownList("EngineerId")
  }
</div>

<div>
  @Html.ActionLink("go home","Index","Home")
</div>



