@{
  Layout = "_Layout";
}

<div>
  <span>this is sillystringz</span>
  <span>more to come soon...</span>
</div>
<div>
  @Html.ActionLink("add an engineer","Create","Engineers")
  @Html.ActionLink("add a machine","Create","Machines")
</div>
